/* Base */
html{
	background-color: #FAFAFF;
}

body{
	box-sizing: border-box;
	font-family: Meiryo;
	font-size: 10.5pt;
	width: 800px;
	margin: auto;
	/*padding: 0ex 1em;*/
	border-left: 1px solid #A0A0FF;
	border-right: 1px solid #A0A0FF;
	color: #303030;
	background-color: #FFFFFF;
}

span.uline{
	text-decoration: underline;
}
span.strong{
	color: #FF4040;
	font-weight: bolder;
}
span.secretly{
	color: #C0C0C0;
}
span.link_like{
	color: #0040FF;
	text-decoration: underline;
	cursor: pointer;
}
p.highlight{
	margin-top: 0.5ex;
	border: 1px dashed #2080FF;
	border-radius: 5px;
	padding: 1ex 1em;
}
a.blocklink{
	display: block;
	width: 60%;
	margin: 1ex 0.5em;
	padding: 1ex 1em;
	text-align: center;
	color: #2080FF;
	border: 1px solid #60C0FF;
	border-radius: 5px;
}
.sp_only{
	display: none;
}

/* Clearfix */
.clearfix {
	/*display: inline-table;*/
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Loader */
#loader{
	display: block;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 50%;
	margin-top: -40px; /* heightの半分のマイナス値 */
	margin-left: -40px; /* widthの半分のマイナス値 */
	z-index: 100;
}
#loader img{
	width: 80px;
	height: 80px;
}
#loadnoscr{
	width: 100%;
	display: block;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 0;
	margin-top: 50px;
	text-align: center;
	z-index: 100;
}
#fade {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}

/* Header */
div#Header{
	border-bottom: 1px solid #A0A0FF;
}

div.headerbase{
	position: relative;
}

a.toplink{
	display: block;
	width: 65%;
	/*float: left;*/
	padding: 0.4ex 0.5em 0.6ex;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 40px;
	text-decoration: none;
	/*border-bottom: 1px solid #808080;*/
	color: #0040FF;
}

div.otherlinks{
	width: 35%;
	/*float: right;*/
	padding: 0.5ex 0.5em;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

div.otherlinks a{
	font-style: italic;
	margin: 0ex 0.5em 0ex 0em;
	color: #2080FF;
}

/* Main */
div.Main, div.Simulator{
	/*width: 800px;*/
	/*border-right: 1px solid #A0A0FF;*/
	padding: 2ex 1em;
}

div.Main dl{
	margin: 0;
}

dl dt{
	margin: 0;
	padding: 0.75ex 1em;
	border-left: 4px solid #606060;
	border-bottom: 1px solid #909090;
}

dl dd{
	margin-left: 2em;
	padding: 1.5ex 0em 3ex;
}

dd dl{
	padding-top: 1.5ex;
}
dd dl dd:last-child{
	padding: 1.5ex 0em 0ex;
}

ol{
	margin: 0;
	padding-left: 1.5em;
}

ol li{
	margin-bottom: 4px;
}

a.itemhidden{
	font-size: 8.5pt;
	margin-left: 1em;
	color: #0040FF;
	vertical-align: bottom;
}

div#Updatelog {
	margin: 0.5ex 0em;
	padding: 0.5em;
	height: 200px;
}

div.textlog{
	border: solid 1px #808080;
	overflow: auto;
}

/* Deck Edit */
div.SelField{
	margin-right: 1em;
}

div.ally_deck{
	width: 65%;
	float: left;
	margin: 1ex 0;
	padding-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #0060C0;
	border-radius: 5px;
}

div.selbox_field{
	padding: 1ex 0em 1.5ex 1em;
	border-bottom: 1px solid #606060;
}

select.selbox{
	width: 60%;
	font-family: Meiryo;
}

button.deck_saveload, button.deck_reset{
	width: 11.5%;
	padding: 0 0.25em;
	font-family: Meiryo;
}

div.sim_start{
	width: 65%;
	float: left;
	margin: 0 0 1ex 1px;
}

div.deckmenu{
	width: 28.5%;
	float: right;
	margin: 1ex 0;
	padding: 1ex 1em;
	border-width: 1px;
	border-style: solid;
	border-color: #606060;
	border-radius: 5px;
	text-align: center;
}

input.decksel{
	width: 75%;
	margin: 4px;
	padding: 0px 2px;
	float: left;
	font-family: Meiryo;
}

.ui-autocomplete{
	font-family: Meiryo !important;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.ui-autocomplete img{
	width: 48px;
	float: left;
}
.ui-autocomplete a{
	margin-left: 1em;
	float: left;
}
.ui-autocomplete p{
	width: 250px;
	color: #303030;
	font-size: 8pt;
	margin: 0;
	padding: 0;
	float: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

p.ally_skill{
	width: 70%;
	margin: -2px 0.5em 0 0;
	padding: 0;
	text-align: left;
	float: right;
	font-size: 8.5pt;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*button.deck_saveload{
	width: 48%;
	margin: 1ex auto;
	padding: 0.5ex;
	font-family: Meiryo;
}*/

button#Start{
	width: 100%;
	padding: 1.5ex 0;
	font-family: Meiryo;
	border: 1px solid #606060;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
button#Start:hover{
	background: #e0f3fa;
	background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%);
	background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
}

button#Start:hover{
	border-color: #138aff;
}

/* Twitter */
div.twitter{
	width: 32%;
	margin-top: 1ex;
	float: right;
}
iframe#twitter-widget-0{
	max-width: 100% !important;
	height: 445px !important;
}

/* Footer */
div.footerbase{
	border-top: 1px solid #A0A0FF;
	border-bottom: 1px solid #A0A0FF;
}

div.github{
	width: 60%;
	float: left;
	color: #A0A0A0;
}

div.github p{
	margin: 1ex 1em;
	padding: 0;
}

div.github a{
	color: #A0A0A0;
}

div.copyright{
	width: 35%;
	float: right;
}

div.copyright p{
	margin: 1ex 1em;
	padding: 0;
	color: #606060;
	text-align: right;
}

/* Buttons */
button{
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	background-color: transparent;
}
button:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #40A0FF;
	background-color: #aef3ff;
	cursor: pointer;
}
button:active{
	color: #000000;
	border-color: #138aff;
	background-color: #67e8ff;
}
button:disabled, button:disabled:hover {
	background-color: #EAEAEA;
	cursor: default;
	border-color: #C0C0C0;
}

/* Dialogs */
div.dialog_div{
	display: none;
}

.ui-dialog{
	font-family: Meiryo !important;
	font-size: 10.5pt !important;
}
.ui-button-text{
	font-family: Meiryo !important;
	font-size: 10.5pt !important;
}

select.sel_indialog{
	font-family: Meiryo !important;
	width: 100%;
}
select.sel_indialog option:nth-child(even){
	background-color: #F0F0F0;
}

input.edit_indialog{
	font-family: Meiryo !important;
	width: 100%;
}
