/* Base */
html{
	background-color: #FAFAFF;
}

body{
	box-sizing: border-box;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Droid Sans Japanese", sans-serif;
	font-size: 10.5pt;
	width: 800px;
	margin: auto;
	border-left: 1px solid #A0A0FF;
	border-right: 1px solid #A0A0FF;
	color: #303030;
	background-color: #FFFFFF;
}

a,a:visited{
	color: #0040FF;
}
span.uline{
	text-decoration: underline;
}
span.strong{
	color: #FF4040;
	font-weight: bolder;
}
span.secretly{
	color: #C0C0C0;
}
span.link_like{
	color: #0040FF;
	text-decoration: underline;
	cursor: pointer;
}
p.highlight{
	margin-top: 0.5ex;
	border: 1px dashed #2080FF;
	border-radius: 5px;
	padding: 1ex 1em;
}
div.button{
	display: inline-block;
	margin: 0 0.3em;
	padding: 1.5ex 1em;
	text-align: center;
	color: #2080FF;
	border: 1px solid #60C0FF;
	border-radius: 3px;
}
div.button:hover {
	border: 1px solid #40B0FF;
	background-color: #98efff;
	cursor: pointer;
}
a.blocklink{
	display: block;
	width: 80%;
	margin: 1ex 3px;
	padding: 1.5ex 0.5em;
	text-align: center;
	color: #2080FF;
	border: 1px solid #60C0FF;
	border-radius: 5px;
}
a.blocklink:hover{
	border: 1px solid #40B0FF;
	background-color: #98efff;
	cursor: pointer;
}

div.linklist{
	width: 80%;
	margin: 1ex 0 0;
}
div.linklist a{
	display: block;
	padding: 1.5ex;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #60C0FF;
	text-align: center;
	text-decoration: none;
	color: #2080FF;
}
div.linklist a:hover{
	background-color: #98efff;
}
div.linklist a:first-child{
	border-width: 1px;
}

.sp_only{
	display: none;
}

/* Clearfix */
.clearfix {
	/*display: inline-table;*/
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Loader */
#loader{
	display: block;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 50%;
	margin-top: -40px; /* heightの半分のマイナス値 */
	margin-left: -40px; /* widthの半分のマイナス値 */
	z-index: 100;
}
#loader img{
	width: 80px;
	height: 80px;
}
#loadnoscr{
	width: 100%;
	display: block;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 0;
	margin-top: 50px;
	text-align: center;
	z-index: 100;
}
#fade {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}

/* Header */
div#Header{
	border-bottom: 1px solid #A0A0FF;
}

div.headerbase{
	position: relative;
}

a.toplink{
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 120px;
	text-indent: -9999pt;
	border-bottom: 1px solid #A0A0FF;
	color: #0040FF;
	overflow: hidden;
	white-space: nowrap;
	background-image: url(/image/wiztools_logo_chara.png);
	background-repeat: no-repeat;
}

p.sitedetail{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0.5ex 0.5em;
	color: #4493e5;
	text-align: right;
	opacity: 0.85;
}

#menu {
	width:100%;
	padding:0;
	margin:0;
	list-style-type: none;
}
#menu li {
	width:25%;
	position: relative;
	float:left;
	padding:0;
	margin:0;
	text-align:center;
	box-sizing: border-box;
	border-right: 1px solid #A0A0FF;
}
#menu li:last-child {
	border-right: 0px;
}
#menu li a {
	width:auto;
	color:#2080FF;
	padding: 1.5ex 0;
	text-decoration:none;
	display:block;
	background:#fff;
}
#menu li ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: -2px;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #e0faff;
}
#menu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	padding: 0 1px;
	box-sizing: content-box;
	transition: .2s;
}
#menu li ul li a {
	width: 100%;
	padding: 1.8ex 0;
	color:#2080FF;
	background: #e0faff;
	text-align: center;
	font-weight: normal;
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: #A0A0FF;
}
#menu li ul li:last-child a{
	border-bottom-width: 1px;
}
#menu li:last-child ul li, #menu li:last-child ul li a{
	border-right: 0px;
}
#menu > li:hover > a {
	background: #e0faff;
}
#menu > li:hover li:hover > a {
	background: #98efff;
}
#menu li a:hover {
	background:#98efff;
}
#menu li:hover > ul > li {
	overflow: initial;
	height: auto;
}
.slicknav_menu {
	display:none;
}

/* RSS Show */
div.rsslist{
	padding-right: 1em;
	box-sizing: border-box;
}
div.rsslist div.article{
	padding: 1.5ex 0 2.5ex 1ex;
	border-bottom: 1px solid #909090;
	background-color: transparent;
}
div.rsslist div.article:hover{
	background-color: #EAF0FF;
}
div.rsslist div.article:last-child{
	border-bottom: 0px;
}
div.rsslist div.article p, div.rsslist div.article h3{
	margin: 0;
}
div.rsslist div.article p.date {
	font-size: smaller;
	color: #606060;
	text-align: right;
}

/* Main */
div.Main, div.Simulator{
	padding: 3ex 1em 2ex 1em;
}

div.Main dl{
	margin: 0;
}

dl dt{
	margin: 0;
	padding: 0.75ex 1em;
	border-left: 4px solid #606060;
	border-bottom: 1px solid #909090;
}

dl dd{
	margin-left: 2em;
	padding: 1.5ex 0em 3ex;
}

dd dl{
	padding-top: 1.5ex;
}
dd dl dd:last-child{
	padding: 1.5ex 0em 0ex;
}

ol{
	margin: 0;
	padding-left: 1.5em;
}

ol li{
	margin-bottom: 4px;
}

a.itemhidden{
	font-size: 8.5pt;
	margin-left: 1em;
	color: #0040FF;
	vertical-align: bottom;
}

div#Updatelog {
	margin: 0.5ex 0em;
	padding: 0.5em;
	height: 200px;
}

div.textlog{
	border: solid 1px #808080;
	overflow: auto;
}

/* Adsense */
div.Adsense{
	margin: 3ex 0 -1ex;
}

/* Deck Edit */
div.SelField{
	margin-right: 1em;
}

div.ally_deck{
	width: 65%;
	float: left;
	margin: 1ex 0;
	padding-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #0060C0;
	border-radius: 5px;
}

div.selbox_field{
	padding: 1ex 0em 1.5ex 1em;
	border-bottom: 1px solid #606060;
}

select.selbox{
	width: 60%;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3";
}

button.deck_saveload, button.deck_reset{
	width: 11.5%;
	padding: 0 0.25em;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3";
}

div.sim_start{
	width: 65%;
	float: left;
	margin: 0 0 1ex 1px;
}

div.deckmenu{
	width: 28.5%;
	float: right;
	margin: 1ex 0;
	padding: 1ex 1em;
	border-width: 1px;
	border-style: solid;
	border-color: #606060;
	border-radius: 5px;
	text-align: center;
}

div.ally_others{
	width: 100%;
	float: left;
	padding: 4px 6px 4px 77px;
	position: absolute;
	box-sizing: border-box;
}

input.decksel{
	width: 80%;
	padding: 0px 2px;
	float: left;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3";
	box-sizing: border-box;
}

button.ally_edit{
	margin-left: 5px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

.ui-autocomplete{
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3" !important;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.ui-autocomplete img{
	width: 48px;
	height: 48px;
	float: left;
}
.ui-autocomplete a{
	width: 280px;
	margin-left: 1em;
	float: left;
}
.ui-autocomplete p{
	width: 250px;
	color: #303030;
	font-size: 8pt;
	margin: 0;
	padding: 0;
	float: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

p.ally_skill{
	width: 90%;
	margin: 0px 0.5em -1px 0px;
	padding: 0;
	text-align: left;
	float: right;
	font-size: 8.5pt;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*button.deck_saveload{
	width: 48%;
	margin: 1ex auto;
	padding: 0.5ex;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3";
}*/

button#Start{
	width: 100%;
	padding: 1.5ex 0;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3";
	border: 1px solid #888;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
button#Start:hover{
	background: #e0f3fa;
	background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%);
	background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
}

button#Start:hover{
	border-color: #138aff;
}

/* Twitter */
div.twitter{
	width: 32%;
	margin-top: 1ex;
	float: right;
}
iframe.twitter-timeline{
	max-width: 100% !important;
	height: 445px !important;
}

iframe.twitter-share-button {
	vertical-align: sub;
}

/* Footer */
div.footerbase{
	border-top: 1px solid #A0A0FF;
	border-bottom: 1px solid #A0A0FF;
}

div.github{
	width: 60%;
	float: left;
	color: #A0A0A0;
}

div.github p{
	margin: 1ex 1em;
	padding: 0;
}

div.github a{
	color: #A0A0A0;
}

div.copyright{
	width: 35%;
	float: right;
}

div.copyright p{
	margin: 1ex 1em;
	padding: 0;
	color: #606060;
	text-align: right;
}

/* Buttons */
button{
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	background-color: transparent;
}
button:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #40A0FF;
	background-color: #aef3ff;
	cursor: pointer;
}
button:active{
	color: #000000;
	border-color: #138aff;
	background-color: #67e8ff;
}
button:disabled, button:disabled:hover {
	background-color: #EAEAEA;
	cursor: default;
	border-color: #C0C0C0;
}

/* Dialogs */
div.dialog_div{
	display: none;
}

.ui-dialog{
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3" !important;
	font-size: 10.5pt !important;
}
.ui-button-text{
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3" !important;
	font-size: 10.5pt !important;
}

select.sel_indialog{
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3" !important;
	width: 100%;
}
select.sel_indialog option:nth-child(even){
	background-color: #F0F0F0;
}

input.edit_indialog{
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3" !important;
	width: 100%;
}

input, button, select{
	font-size: 13.33px;
}
