div#stage{
	margin: 0 0 2ex;
	padding: 1.5ex 1em;
	background-color: #00649d;
	color: #FFF;
}

div.decks{
	margin: 1ex 2px;
	padding: 1ex 1.5ex;
	border: 1px solid #DDD;
	border-radius: 7px;
	background-color: #FFF;
	box-shadow:0px 0px 8px 1px #e6e6e6 inset;
}

div.turn{
	font-size: large;
	border-color: #F0F0F0;
	border-width: 0 0 1px;
	border-style: solid;
	padding: 2px 0;
}

div.run{
	font-size: 1.1em;
	width: 100%;
	text-align: right;
	padding-bottom: 2px;
}

.cardimgs{
	padding-bottom: 4px;
}

.cardimgs a:hover{
	opacity: 0.7;
}

.cardimgs img{
	width: 96px;
	margin-right: 2px;
}

div.user{
	font-size: 1.1em;
	border-color: #F0F0F0;
	border-width: 0 0 1px;
	border-style: solid;
	padding: 2px 0;
}

div.comment{
}

/*  for actionview */
a#run_url{
	float: right;
	display: block;
	padding: 1.5ex 1em;
}

div.clearturn{
	margin: 0 0 1ex;
	padding: 1.5ex 1em;
	border: dotted 1px #0060C0;
}

table.cdtable{
	width: 100%;
	padding: 1ex 1.5em 2.5ex;
}
.wraptb{
	overflow: auto;
	white-space: nowrap;
}
.wraptb::-webkit-scrollbar{
	height: 5px;
}
.wraptb::-webkit-scrollbar-track{
	background: #F1F1F1;
}
.wraptb::-webkit-scrollbar-thumb {
	background: #BCBCBC;
}

table.cdtable th{
	width: 19.9%;
}

table.cdtable tr:nth-child(odd){
	background-color: #F0F0F0;
}

table.cdtable td{
	text-align: center;
}

table.action_lst{
	width: 100%;
}
table.action_lst th.actb, table.action_lst th.actt{
	width: 70px;
}

table.action_lst tr:nth-child(odd){
	background-color: #dff7FF;
}