<div class="headerbase clearfix">
	<a class="toplink" href="/">WizTools</a>
    <p class="sitedetail sp_hidden">魔法使いと黒猫のウィズの便利なツールを公開しています。</p>
    <ul id="menu">
        <li>
            <a href="#">便利ツール</a>
            <ul class="submenu">
                <li><a href="/simulator/">シミュレーター</a></li>
                <li><a href="/search/">精霊条件検索</a></li>
                <li><a href="/tools/cardcheck/">所持精霊チェック</a></li>
                <li><a href="/tools/crystal_pt/">魔道杯収支予測</a></li>
                <!--<li><a href="/checkmate/">詰めウィズ</a></li>-->
                <!--<li><a href="/calculate/">ダメージ計算</a></li>-->
            </ul>
        </li>
        <li>
            <a href="#">各種ページ</a>
            <ul class="submenu">
                <li><a href="/pages/info.html">このサイトについて</a></li>
                <!--<li><a href="/pages/faq.html">よくある質問</a></li>
                <li><a href="/pages/request.html">要望/バグ報告</a></li>-->
            </ul>
        </li>
        <li>
            <a href="http://blog.wiztools.net/">ブログ</a>
        </li>
        <li>
            <a href="#">外部サイト</a>
            <ul class="submenu">
                <li><a class="othersites" target="_blank" href="https://twitter.com/wiz_tools">Twitter</a></li>
                <li><a class="othersites" target="_blank" href="https://github.com/Arika0093/wiz_simu/">SourceCode</a></li>
            </ul>
        </li>
    </ul>
    <div id="mobile_menu"></div>
</div>
