<div class="headerbase clearfix">
	<a class="toplink" href="/">Wiz Quest Simulator</a>
	<div class="otherlinks">
        <a href="/">シミュレーター</a>
        <!--<a href="/checkmate/">詰めウィズ</a>-->
        <!--<a href="/search/">精霊検索</a>-->
		<a href="/pages/info.html">このサイトについて</a>
		<a href="/pages/faq.html">よくある質問</a>
        <a href="/pages/request.html">要望/バグ報告</a>
        <!--<a href="/pages/tools.html">各種ツール</a>-->
		<a class="othersites" target="_blank" href="https://twitter.com/wiz_simu">公式Twitter</a>
        <a class="othersites" target="_blank" href="https://github.com/Arika0093/wiz_simu/">Github</a>
	</div>
</div>