<div class="headerbase">
	<a class="toplink" href="/">WizTools</a>
    <p class="sitedetail sp_hidden">
        最近色々と更新遅れててすいません。
    </p>
</div>
<nav id="menu">
    <ul class="clearfix">
        <!--
        <li id="twlogin">
            <span>ユーザー管理</span>
            <ul class="submenu">
                <li id="mn_twlogin"><a href="//api.wiztools.net/twitter/login.php">Twitterでログイン</a></li>
            </ul>
        </li>  -->
        <li>
            <span>便利ツール</span>
            <ul class="submenu">
                <li id="mn_simulator"><a href="/simulator/">シミュレーター</a></li>
                <li id="mn_dmgcalc"><a href="/damagecalc/">ダメージ計算</a></li>
                <li id="mn_check"><a href="/tools/cardcheck/">所持精霊チェック</a></li>
                <li id="mn_timer"><a href="/tools/stopwatch/">ストップウォッチ</a></li>
                <li id="mn_hpcalc"><a href="/tools/hpcalc/">HP予測計算ツール</a></li>
                <li id="mn_adjust"><a href="/tools/adjust_pt/">ポイント調整ツール</a></li>
                <li id="mn_ptchart"><a href="/tools/managed_pt/">Excelポイント管理</a></li>
                <li id="mn_chart"><a href="/tools/crystal_pt/">クリスタル収支確認</a></li>
            </ul>
        </li>
        <li>
            <span>精霊データ</span>
            <ul class="submenu">
                <li id="mn_search"><a class="new" href="/searchex/">多機能精霊検索</a></li>
                <li id="mn_detail"><a href="/search/detail">精霊詳細データ</a></li>
            </ul>
        </li>
        <li>
            <span>敵行動データベース</span>
            <ul class="submenu" id="enm_db">
            </ul>
        </li>
        <li>
            <span>ウィズ情報関連</span>
            <ul class="submenu">
                <li><a href="/pages/damage.html">ダメージ計算式まとめ</a></li>
                <li><a class="new" href="/pages/targeting.html">攻撃処理順まとめ</a></li>
                <li><a href="/pages/panel.html">パネルブーストについて</a></li>
            </ul>
        </li>
        <li>
            <span>各種ページ</span>
            <ul class="submenu">
                <li><a href="/pages/info.html">このサイトについて</a></li>
                <li><a href="/pages/help_sim.html">シミュレーターの使い方</a></li>
                <li><a href="/pages/faq.html">よくある質問</a></li>
                <li><a href="/pages/comment.html">自由コメント欄</a></li>
                <li><a href="/pages/contact.html">要望/バグ報告</a></li>
                <li><a href="/pages/donate.html">作者に🍛をおごる</a></li>
            </ul>
        </li>
        <li>
            <span>外部サイト</span>
            <ul class="submenu">
                <li><a href="https://blog.wiztools.net/" target="_blank">Blog</a></li>
                <li id="mn_twitter"><a class="othersites" target="_blank" href="https://twitter.com/wiz_tools">Twitter</a></li>
                <li id="mn_github"><a class="othersites" target="_blank" href="https://github.com/Arika0093/wiz_simu/">Github</a></li>
            </ul>
        </li>
    </ul>
</nav>
