<div class="info">
    「魔法使いと黒猫のウィズ」のシミュレーター「Wiz Quest Simulator」を仮公開しました。<br/>
    <a class="blocklink" href="./info.html">このサイトについて / 使い方</a>

    <!-- Adsense -->
    <div id="Adsense">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- advertise -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5156005489853976"
             data-ad-slot="6536828444"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
